body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
.task-input-container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
input[type="text"], button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
button {
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.project-container {
    min-width: 300px;
    width: 25%;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #d0e2fd; /* Slightly darker shade for project boxes */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.project-title {
    font-size: 1.2em;
    color: #0056b3;
    margin: 0 0 15px 0;
}
.task-box {
    background-color: #fff; /* Task backgrounds are white */
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.task-box:hover {
    background-color: #f0f0f0;
}
